.banner {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
  @media (max-width: 767px) {
    height: 75svh;
  }
  &-inner {
    width: 100%;
    height: 100%;
    .swiper {
      .image {
        width: 100%;
        height: 100%;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(
            180deg,
            rgba(73, 60, 52, 0) 22%,
            rgba(73, 60, 52, 0) 84%,
            rgba(73, 60, 52, 0.5) 100%
          );
          z-index: 2;
          pointer-events: none;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transform-origin: center center;
          will-change: transform;
        }
      }
      &-pagination {
        bottom: 24px;
        .swiper-pagination-bullet {
          width: 8px;
          height: 5px;
          background-color: var(--color-white);
          border-radius: 0px;
          transition: width 0.4s ease;
          opacity: 1;
          &-active {
            width: 40px;
          }
        }
      }
    }
  }
  &-content-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: calc(100% - 40px);
    text-align: center;
    h2 {
      font-size: 30px;
      line-height: 39px;
      color: var(--color-white);
      font-weight: 400;
    }
  }
  .container-swiper {
    @media (max-width: 767px) {
      height: 75svh;
    }
  }
}
.banner-content {
  display: grid; // tất cả item chồng lên nhau trong cùng 1 ô grid

  &-item {
    grid-area: 1 / 1; // chồng lên nhau, không cần position: absolute
    opacity: 0;
    pointer-events: none;
    will-change: opacity, transform; // gợi ý browser tối ưu GPU cho animation

    &.active {
      opacity: 1;
      pointer-events: auto;
    }
  }
}
