.contact-section {
  .contact {
    &-inner {
      position: relative;
    }
    &-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-wrapper {
      padding: 100px 40px 32px;
      display: flex;
      gap: 24px;
    }
  }
  .contact-form-modal,
  .contact-sale {
    max-width: 435px;
    width: 100%;
  }
  .contact-sale {
    background-color: rgba(150, 86, 62, 0.8);
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .title {
      font-size: 30px;
      line-height: 39px;
      color: var(--color-white);
      font-weight: 400;
    }
    .contact-info {
      display: flex;
      flex-direction: column;
      gap: 4px;
      padding: 8px 0;
      border-top: 1px solid #bf7e66;
      border-bottom: 1px solid #bf7e66;
      a.email {
        font-size: 16px;
        line-height: 20px;
        color: var(--color-white);
        font-weight: 400;
      }
      a.phone {
        font-size: 30px;
        line-height: 39px;
        color: var(--color-white);
        font-weight: 400;
      }
    }
  }
  .modal-dialog {
    margin: 0;
  }
}
