.facilities {
  padding: 60px 40px;
  @media (max-width: 767px) {
    padding: 80px 0;
  }
  background-color: var(--color-third);
  &-inner {
  }
  &-heading {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px 0;
    margin-bottom: 40px;
    @media (max-width: 767px) {
      margin-bottom: 32px;
    }
    h4 {
      font-size: 14px;
      line-height: 20px;
      color: var(--color-primary);
      letter-spacing: 0.21em;
      text-transform: uppercase;
    }
    .description {
      font-size: 30px;
      line-height: 39px;
      color: var(--color-secondary);
      text-align: center;
      max-width: 70%;
      @media (max-width: 991px) {
        max-width: 100%;
        padding-left: 40px;
        padding-right: 40px;
      }
      @media (max-width: 767px) {
        font-size: 22px;
        line-height: 30px;
        padding: 0;
        padding-left: 20px;
        padding-right: 20px;
        max-width: 95%;
      }
    }
  }
  &-box {
    display: flex;
    flex-direction: column;
    height: 100%; // lấy chiều cao từ swiper-slide (hoặc set cố định nếu cần)

    .image {
      width: 100%;
      aspect-ratio: 16 / 11;
      flex-shrink: 0; // giữ nguyên tỉ lệ, không bị co lại khi content đẩy
      height: 330px;
      @media (max-width: 767px) {
        aspect-ratio: 541 / 367;
      }
      @media (max-width: 575px) {
        height: 250px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .content {
      flex: 1; // tự động chiếm hết phần còn lại sau khi trừ .image
      padding: 32px;
      background-color: var(--color-white);
      display: flex;
      flex-direction: column;
      justify-content: space-between; // đẩy content-top lên trên, content-main xuống dưới (tuỳ ý)
      @media (max-width: 767px) {
        gap: 0;
        // justify-content: unset;
      }
      &-top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 24px;
        @media (max-width: 767px) {
          margin-bottom: 24px;
        }
        .number {
          font-size: 19px;
          line-height: 25px;
          color: var(--color-primary);
        }

        .icon {
          display: flex;
        }
      }

      &-main {
        .name {
          font-size: 19px;
          line-height: 25px;
          letter-spacing: 0.21em;
          color: var(--color-primary);
          margin-bottom: 8px;
          text-transform: uppercase;
        }

        .desc {
          padding: 8px 0;
          border-bottom: 1px solid var(--color-fourth);
          border-top: 1px solid var(--color-fourth);
          font-size: 16px;
          line-height: 20px;
          color: var(--color-secondary);
        }
      }
    }
  }
  &-list {
    .swiper {
      @media (max-width: 767px) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    .swiper-slide {
      height: auto;
    }
    .swiper-pagination {
      position: static;
      margin-top: 40px;
      .swiper-pagination-bullet {
        width: 8px;
        height: 5px;
        background-color: var(--color-primary);
        border-radius: 0px;
        transition: width 0.4s ease;
        opacity: 1;
        &-active {
          width: 40px;
        }
      }
    }

    .swiper-arrow {
      background-color: rgba(255, 255, 255, 0.7);
      width: 100px;
      padding: 0 20px;
      margin-top: -45px;
      transform: translate(0);
      transition: all 0.4s ease;
      @media (max-width: 767px) {
        top: 150px;
        background-color: rgba(255, 255, 255, 0.7);
      }
      &:hover {
        background-color: var(--color-primary);
        svg {
          color: var(--color-white);
        }
      }
      svg {
        width: 30px;
        height: 11px;
        color: var(--color-secondary);
        transition: color 0.4s ease;
      }
      &.swiper-button-disabled {
        opacity: 0;
      }
      &.swiper-button-prev {
        display: flex;
        justify-content: flex-start;
        left: -30px;
        @media (max-width: 767px) {
          left: 0;
        }
      }
      &.swiper-button-next {
        display: flex;
        justify-content: flex-end;
        right: -30px;
        @media (max-width: 767px) {
          right: 0;
        }
      }
    }
  }
}
