.footer {
  &-container {
    background-color: #eee9dc;
    padding: 40px;
    @media (max-width: 767px) {
      padding: 20px;
    }
  }
  &-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media (max-width: 767px) {
      display: flex;
      flex-direction: column-reverse;
      gap: 20px;
    }
  }
  &-col {
    &:first-child {
      border-right: 1px solid var(--color-primary);
      @media (max-width: 767px) {
        border-right: none;
        border-top: 1px solid var(--color-primary);
        padding-top: 20px;
        .box {
          align-items: flex-start;
          .logo-full {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
          }
        }
      }
    }
    &:last-child {
      .box {
        gap: 40px;
        @media (max-width: 767px) {
          display: grid;
          grid-template-columns: 1fr 1fr;
          .footer-copyright {
            grid-column: 1 / span 2;
            // justify-content: center;
          }
          .footer-menu {
            grid-column: 1 / span 1;
            grid-row: 1 / span 1;
          }
          .social {
            grid-column: 2 / span 1;
          }
        }
      }
    }
    .box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 64px;
      height: 100%;
      @media (max-width: 767px) {
        gap: 40px;
      }
      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .social {
        ul {
          display: flex;
          justify-content: center;
          gap: 16px;
          @media (max-width: 767px) {
            flex-direction: column;
          }
          li {
            a {
              transition: all 0.4s ease;
              position: relative;
              display: block;
              width: 24px;
              height: 24px;

              &:hover {
                img:last-child {
                  opacity: 1;
                }
              }

              img {
                width: 24px;
                height: 24px;

                &:last-child {
                  position: absolute;
                  inset: 0;
                  opacity: 0;
                  transition: opacity 0.4s;
                }
              }
            }
          }
        }
      }
      .footer-menu {
        ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          @media (max-width: 767px) {
            align-items: flex-start;
          }
          li {
            a {
              font-size: 16px;
              line-height: 20px;
              color: var(--color-black);
              font-weight: 400;
              transition: all 0.3s;
              &:hover {
                color: var(--color-primary);
              }
            }
          }
        }
      }
      .footer-copyright {
        font-size: 16px;
        line-height: 20px;
        color: var(--color-black);
        font-weight: 400;
        display: flex;
        align-items: flex-end;
      }
      .footer-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        @media (max-width: 767px) {
          align-items: flex-start;
        }
        a,
        p {
          font-size: 16px;
          line-height: 20px;
          color: var(--color-black);
          font-weight: 400;
          text-align: center;
        }
        p {
          color: var(--color-primary);
        }
        a {
          &::before {
            background-color: var(--color-black);
          }
        }
      }
    }
  }
}
